Amount:{{amount}}
<br>
Name:{{uname}}
<br>
Date:{{dt}}
<br>
Currency:{{x}}
<hr>
Upper: {{uname | uppercase}}
<br>
Lower: {{uname | lowercase}}
<br>
Slice:{{uname | slice :1:4}}
<br>
Number:{{x | number}}
<br>
Per:{{x | percent}}
<br>
Date:{{dt}}
<br>
Date:{{dt | date}}
<br>
Short:{{dt | date:'short'}}
<br>
Medium:{{dt | date:'medium'}}
<br>
Short:{{dt | date:'long'}}
<br>
Short:{{dt | date:'shortDate'}}
<br>
Short:{{dt | date:'shortTime'}}
<br>
Amount:{{amount}}
<br>
Amount:{{amount | currency}}
<br>
Amount:{{amount | currency :'GBP'}}
<br>
Amount:{{amount | currency :'JPY'}}
<br>
JSON:{{obj | json}}












